# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# MacOS
.DS_Store

# Output Files
cost_log.txt
final_summary.md
eval.md

